---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Empty from '@/components/Empty.astro'
import GalleryCard from '@/components/GalleryCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllGalleries } from '@/lib/data-utils'

const galleries = await getAllGalleries()
// const base = import.meta.env.BASE_URL;  // '/'

---

<Layout class="max-w-4xl">
  <PageHead slot="head" title="Photos" />
  <Breadcrumbs items={[{ label: 'Photos', icon: 'lucide:aperture' }]} />
  {
    galleries.length > 0 ? (
      <ul class="grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-4 justify-stretch">
        {galleries.map((gallery) => (
          <li class="w-full">
            <GalleryCard gallery={gallery} />
          </li>
        ))}
      </ul>
    ) : (
      <Empty text="No Gallery found." cccc={true} />
    )
  }
</Layout>
