---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import NoteCard from '@/components/NoteCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getArticlesByTag } from '@/lib/data-utils'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const articles = await getArticlesByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          articles
        },
      }
    }),
  )
}

const { tag, articles } = Astro.props
---

<Layout class="max-w-4xl">
  <PageHead
    slot="head"
    title={`Posts and Notes tagged with "${tag}"`}
    description={`A collection of posts and notes tagged with ${tag}.`}
    noindex
  />
  <Breadcrumbs
    items={[
      { href: '/tags', label: 'Tags', icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />
  <ul class="flex flex-col gap-y-4">
    { 
      articles.map(article => {
        if (article.collection === 'blog') {
          return <li><BlogCard post={article}/></li>
        }
        if (article.collection === 'note') {
          return <li><NoteCard note={article}/></li>
        }
        return null
      })
    }
  </ul>
</Layout>
