---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { Content as AboutPage } from '@/content/about.md';
---

<Layout class="max-w-4xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:user-round' }]} />

  <section>
    <div class="min-w-full">
      <h1 class="mb-4 text-4xl font-bold md:text-5xl">About Me</h1>
      <div class="prose mb-6 text-gray-700">
        <AboutPage />
      </div>
    </div>
  </section>
</Layout>
