---
import { SOCIAL_LINKS, SITE } from '@/consts'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <div class="text-muted-foreground mx-auto flex max-w-4xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between">
    <span class="text-sm">&copy; {new Date().getFullYear()} {SITE.author}.</span>
    <span class="text-lg font-calligraphy order-1 sm:order-none">明明天边月，常照海中天</span>
    <SocialIcons links={SOCIAL_LINKS} />
  </div>
</footer>
